header{
    background-color: #192b69;
    width: 100%;
    height: 150px;
    display: grid;
    justify-content: space-around;
    box-shadow: 0 7px 10px 0 #a1a1a1;
}

header nav{
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-around;
}   

header nav div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 200%;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
a:hover{
    
    color: #fff45a;
}

header nav div{
    text-align: center;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
